/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.navbar, .home, .wave{
    background: linear-gradient(to right, #FC904A,#FD5D36);
}


.navbar-nav li a{
    color: #fff !important;
    font-size: 17px;
    margin-left: 5px;
}

.navbar-nav li a{
    position: relative;

}

.navbar-nav li a::after{
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    opacity: 0;
    transition: .3s;


}

.navbar-nav li a:hover::after{
    width: 100%;
    opacity: 1;
     
}

.watch-btn:hover{
    background: #fff;
    color: #FC904A;
    box-shadow: 0px 2px 3px lightgray;
}

.watch-btn i{
    font-size: 20px;
    margin-right: 5px;
}

.single-service{
    padding: 0px 10px;
}

.service-btn{
    background: linear-gradient(to right, #FC904A,#FD5D36);
    color: #fff;
}

.service-btn:hover{
    background: linear-gradient(to left, #FC904A,#FD5D36);
    color: #fff;
}

.about{
    background: #F8F9F8;
}

.single-testi{
    border-left: 5px solid #FC904A;
    padding: 0px 20px;
}

.single-testi span{
    font-size: 12px;
}

.social{
    background: #F8F9F8;
}

.social-ul{
    list-style: none;
}

.social-ul li a img{
    width: 40px;
    transition: .3s;
}

.social-ul li a img:hover{
    transform: scale(1.09);
}